services:
  - type: web
    runtime: docker
    name: unobot
    repo: https://github.com/shreysingla11/unobot
    branch: main
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: REDIS_URL
        sync: false
